<h1>Car Inventory</h1>
@* <h2>@Model["CarInventory"][0].GetDescription()</h2> *@
<ul>
  @foreach(var automobile in @Model["CarInventory"])
  {
    <li>@automobile.GetMakeModel() Price: @automobile.GetPrice() Miles: @automobile.GetMiles()</li>
    <p>@automobile.GetDescription()</p>
  }
</ul>
<p><a href="/add_car">Add a car to our inventory</a></p>
